        body {
        background-color: aqua;
    }
    
    h1 {
        background-color: rgb(1, 117, 163);
        border: 5px;
        color: white;
        border-style: double;
        border-color: antiquewhite;
    }
    
    h2 {
        background-color: beige;
        border: 2px;
        border-style: dotted;
        border-color: white;
    }
    
    h3 {
        {
            background-color: blue;
            border: 7px;
            border-style: solid;
            border-color: white;
        }